GEMINI_API_KEY=
FONNTE_TOKEN=
PORT=4000
DEMO_MODE=false
QUICK_LOGIN_ENABLED=false
QUICK_LOGIN_EMAIL=
QUICK_LOGIN_PASSWORD=
TRIAGE_SERVICE_URL=http://localhost:8001
GOOGLE_GEOCODING_API_KEY=
PASOKIN_ADMIN_TOKEN=
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=
